<p id="notice"><%= notice %></p>

<h1>Hubs</h1>

<h2>WELCOME</h2>

<body>
  <%# <%= javascript_pack_tag 'hello_react', data: {hubs: @hubs}%>

  <%# <%= button_to 'Scrape', scrape_hubs_path, class: 'btn btn-primary' %> 
  <%# <%= button_to 'Scrape', '', class: 'btn btn-primary' %> %>

  <br>

  <%= react_component('Hubs', hubs: @hubs) %>

  <br>

  <%= link_to 'New Hub', new_hub_path %>

  <div id="root"></div>
  <%= react_component('ScrapeButton') %>

<body>