<p id="notice"><%= notice %></p>

<h1>Selenium Hubs with their Active nodes</h1>

<body>
  <%# <%= javascript_pack_tag 'hello_react', data: {hubs: @hubs}%>

  <%# <%= button_to 'Scrape', scrape_hubs_path, class: 'btn btn-outline-success' %> 

  <br>

  <%= react_component('Hubs', hubs: @hubs) %>

  <br>

  <%= link_to 'New Hub', new_hub_path %>

  <div id="root"></div>

<body>